.aprendiz{
    width:1580x ; height:635px ;
    border: 5px solid red;
}
.bin{
    background-color:#000;
}
 
div{
    border: 1px solid red
 }
 .left{
     width: 788px; height:580px;  float: left;
    
 }
 .right{
     width: 788px;height: 580px; float:right;
}
 .top{
     width: 100%; height: 50px;
 }
