@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css2?family=Open+Sans';
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
body {
    font-family:'open sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family:'yanone kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}
/* estidolos del header*/
.header {
    height: 60px;
}
.header .contenedor {
    display: flex;
    justify-content: space-between;
}
.logo, .icon-menu {
    margin: 5px;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: black;
    color: #fff;
    text-align: center;
    line-height:45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*----estilos de menu----*/
.nav {
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link {
    display: block;
    padding: 20px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover {
background: white;
color: #FBA919;
}.logo, .icon-menu {
    margin: 5px;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: black;
    color: #fff;
    text-align: center;
    line-height:45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*----estilos de menu----*/
.nav {
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link {
    display: block;
    padding: 20px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover {
background: white;
color: #FBA919;
}